@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* || GENERAL STYLES || */
body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.5em;
  background-image: linear-gradient(#fffbf6, #fed0a6);
  background-attachment: fixed;
}

header {
  padding: 15px;
  color: white;
  background-color: #ffc9b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: #ff5d5d;
}

svg:hover path {
  fill: black;
  transition: all ease 0.5s;
}

/* || SITE-WIDE || */
.container {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* DISPLAY */
.inline {
  display: inline;
}

/* LAYOUT */
.two-columns {
  column-count: 2;
  column-gap: 10em;
  /* border: solid; */
}

.relative-pos {
  position: relative;
}

.full-height {
  height: 100%;
}

.one-third-height {
  height: 33%;
}

/* Position */
.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.right-upper-corner {
  top: 0;
  right: 0;
}

/* Flex properties */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-space-between {
  justify-content: space-between;
}

.align-start {
  /* align-self: flex-start; */
  align-self: start;
}

.align-center {
  align-self: center;
}

.align-end {
  align-self: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-content-space-between {
  align-content: space-between;
}

.medium-gap {
  gap: 4em;
}

.small-gap {
  gap: 3em;
}

.smaller-gap {
  gap: 1em;
}

.tiny-gap {
  gap: 0.3em;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Grid properties */
.grid-container {
  display: grid;
  /* background-color: aqua; */
}

/* Number of columns for the grid */
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4-col {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item {
  /* background-color: green; */
  text-align: center;
  max-height: 100%;
  /* align-items: center; */
}

/* Image sizes */
.smaller-image {
  width: 25px;
  height: 25px;
}

/* Text size */
.small-text {
  font-size: 12px;
}

/* Width sizes */
.max-width-50 {
  max-width: 50%;
}

.max-width-75 {
  max-width: 75%;
}

.max-width-100 {
  max-width: 100%;
}

.width-75 {
  width: 75vw;
}

/* ID specific properties */
#round-image-container {
  background-color: yellow;
}

/* Image resizing */
.round-image {
  height: 250px;
  width: 250px;
  border-radius: 500px;
}

.icon {
  padding: 5px;
}

.video {
  min-height: 100%;
}

/* Button properties */
.regular-button {
  padding: 10px 30px;
  border-radius: 50px;
  border-size: 3px;
  transition: ease 0.5s;
}

.white-button {
  background-color: white;
  border: #ff5d5d;
  color: #ff5d5d;
}

.white-button:hover {
  color: white;
  background-color: #ff5d5d;
}

.red-button {
  color: white;
  background-color: #ff5d5d;
}

.red-button:hover {
  background-color: white;
  border: #ff5d5d;
  border: solid;
}

.badge {
  border: solid;
  border-width: thin;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
}

/* Page elements */
.project-card {
  background-color: white;
  border-radius: 1em;
}

.project-thumbnail {
  width: 90%;
  min-height: 400px;
  /* border: solid; */
  /* background-color: rgb(255, 254, 229); */
  border-radius: 1em;
}

.slide {
  max-width: 100%;
  height: 60vh;
  object-fit: contain;
}

.slide:hover {
  background-color: black;
}

.slide-thumbnail {
  max-height: 5em;
  opacity: 0.75;
  border-radius: 15%;
}

.slide-thumbnail:hover {
  opacity: 1;
}

/* Padding */
.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.p-20 {
  padding: 20px;
}

.p-50 {
  padding: 8em;
}

.pt {
  padding-top: 0.5em;
}

.pb {
  padding-bottom: 0.5em;
}

.side-p {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

/* Margin */
.m-1 {
  margin: 1em;
}

.m-2 {
  margin: 2em;
}

.mt-2 {
  margin-top: 5em;
}

/* Colors */
.white-text {
  color: white;
}
.dark-brown-text {
  color: #7d1f03;
}

.light-brown-text {
  color: #ca8877;
}

.bright-red-text {
  color: #ff5d5d;
}

.light-orange-text {
  color: #ff7c59;
}

.sienna-text {
  color: #c85435;
}

.bg-gray {
  background-color: #b1b2b5;
}

.bg-red {
  background-color: #ff5d5d;
}

.bg-coral {
  background-color: #ff8e8e;
}

.bg-pink {
  background-color: #ffc7c7;
}

.bg-light-pink {
  background-color: #ffecec;
}

.bg-black {
  background-color: black;
}

.red-on-hover:hover {
  color: #ff5d5d;
}

/* Shapes */
.circle {
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 30vh;
}

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rounded-rectangle {
  border-radius: 25px;
  background-color: white;
}

.rounded {
  border-radius: 1em;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  /* border: solid; */
}

/* Top tooltip */
.tooltip-top .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
}

/* Bottom tooltip */
.tooltip-bottom .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -50px;
}

/* Tooltip Arrow top*/
.tooltip-top .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Tooltip Arrow bottom */
.tooltip-bottom .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Progress bar */
.bar-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 1.25em;
  width: 12.5em;
}

.bar {
  width: 2.5em;
}

.bar-first {
  border-radius: 15px 0px 0px 15px;
}

.bar-last {
  border-radius: 0px 15px 15px 0px;
}

.medium-text {
  font-size: 1.25em;
}

/* Font-sizes and styling */
.large-text {
  font-size: 1.5em;
}

.larger-text {
  font-size: 2em;
}

.super-large-text {
  font-size: 3em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
/* Imported fonts */
.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-600 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-800 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.b612-mono-regular {
  font-family: "B612 Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.b612-mono-bold {
  font-family: "B612 Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.b612-mono-regular-italic {
  font-family: "B612 Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.b612-mono-bold-italic {
  font-family: "B612 Mono", serif;
  font-weight: 700;
  font-style: italic;
}

/* Display on hover */
.parent {
  transition: all ease 100ms;
}

.parent:hover .child {
  display: inline-block;
}

.child {
  display: none;
}

/* Display on click */
.hidden-content {
  display: none;
}

.hover-icon {
  transition: transform 0.2s;
}

.hover-icon:hover {
  transform: scale(1.25);
}

.hidden {
  opacity: 0;
  transition: 0.5s;
}

.show-on-hover:hover + .hidden {
  opacity: 1;
  /* display: block; */
}

.collapsible-content {
  display: hidden;
}

/* || RESPONSIVENESS ||*/
/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .grid-3-col {
    grid-template-columns: 1fr 1fr;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .two-columns {
    column-count: 1;
  }

  .grid-3-col {
    grid-template-columns: 1fr 1fr;
  }

  .rounded-rectangle {
    width: 90%;
  }

  .project-card {
    width: 90%;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .two-columns {
    column-count: 1;
  }

  .grid-2-col,
  .grid-3-col {
    grid-template-columns: 100%;
  }

  .rounded-rectangle {
    width: 90%;
  }

  .project-card {
    width: 100%;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .two-columns {
    column-count: 1;
  }

  .grid-2-col,
  .grid-3-col {
    grid-template-columns: 100%;
  }

  .rounded-rectangle {
    width: 90%;
  }

  .project-card {
    width: 100%;
  }
}

/* xs */
@media (max-width: 475px) {
  header {
    display: flex;
    flex-direction: column-reverse;
  }

  .container {
    max-width: 100%;
  }

  .two-columns {
    column-count: 1;
  }

  .grid-2-col,
  .grid-3-col {
    grid-template-columns: 100%;
  }

  .rounded-rectangle {
    width: 90%;
  }

  .project-card {
    width: 100%;
  }
}
